

{% extends 'base.html.twig' %}

{% block body %}
<h2 class="test__ttl">Hello
	{{ test_name }}さん</h2>
<p class="test__txt">Twig is working.</p>
<div class="test__inner">
	<h3 class="test__ttl">Products</h3>
	<ul class="test__list">
		{% for product in products %}
			<li>
				<div class="test__img">
					<img src="{{ product.image }}" alt="{{ product.name }}">
				</div>
				<p>{{ product.name }}
					-
					{{ product.price }}円</p>
          {% if product.price < 2000 %}
            <p>お買い得商品です！</p>
          {% endif %}
			</li>
		{% endfor %}
	</ul>
	<h3 class="test__ttl">Button</h3>
	<div class="test__btnWrap">
		<button class="test__btn js-test-btn">Click me</button>
	</div>

</div>
{% endblock %}
